* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: grid;
  height: 20vh;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}

header nav {
  width: 50%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.nav-link {
  color: #707070;
  text-decoration: none;
  font-size: 1.5rem;
}

#functions a {
  margin: 0 0 0 20px;
}

main {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

section {
  padding: 40px 0 40px 0;
}

#seccion1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#col11 {
  height: 40vh;
  margin: auto 0;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 60%;
}
#col11 * {
  margin: 30px 0 30px 0;
}

#col11 h2 {
  font-size: 3.5rem;
}

#col11 p {
  color: #707070;
  font-size: 1.1rem;
}

#col11 button {
  border: 3px solid black;
  width: 80%;
  height: 15%;
  border-radius: 50px;
  font-size: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  font-weight: 600;
}

#col12 {
  display: flex;
  justify-content: flex-end;
}

#black-square {
  position: absolute;
  height: 40%;
  background: black;
  width: 200px;
  left: 600px;
  top: 650px;
  z-index: -1;
}

#seccion2 {
  display: grid;
  grid-template-columns: 1fr repeat(3, 3fr) 1fr;
  column-gap: 20px;
  justify-items: center;
  align-items: center;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card1 {
  display: grid;
  height: 100%;
  justify-items: center;
  grid-template-rows: 3fr 2fr;
}

.card2 {
  display: grid;
  height: 100%;
  justify-items: center;
  grid-template-rows: 3fr 2fr;
}

.card1 .text-cont-1 p,
.card2 .text-cont-2 p {
  text-align: center;
  width: 60%;
  color: #707070;
}

.card1 .text-cont-1 h2,
.card2 .text-cont-2 h2 {
  text-align: center;
  font-size: 2rem;
}

.card1 .text-cont-1 button,
.card2 .text-cont-2 button {
  border: 3px solid black;
  width: 50%;
  height: 50px;
  border-radius: 50px;
  font-size: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  font-weight: 600;
}

.text-cont-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.img-cont-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.text-cont-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#beige-square {
  position: absolute;
  height: 150px;
  width: 400px;
  background: #f3db9b;
  z-index: -1;
  left: 150px;
  top: 1220px;
}

#black-square2 {
  position: absolute;
  height: 150px;
  width: 400px;
  background: black;
  z-index: -1;
  right: 150px;
  top: 1320px;
}

#seccion3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

#col31 {
  display: grid;
  grid-template-rows: 50% 50%;
  justify-items: start;
  position: relative;
  height: 89.3vh;
}

#col31 > #man-img {
  position: absolute;
  left: 250px;
  top: 200px;
}

#col32 {
  display: grid;
  grid-template-rows: 22% 78%;
}

#col32-para-cont {
  color: #212121;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 200;
}

#col32-para-cont > p {
  width: 80%;
}

#col32-img-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#col32-img-cont div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 50px;
  height: 40%;
  margin: 0 auto;
}

#col32-img-cont h2 {
  font-size: 3rem;
}

#col32-img-cont p {
  width: 50%;
  line-height: 1.5em;
}

#col32-img-cont div > button {
  border: 3px solid black;
  width: 20%;
  height: 50px;
  border-radius: 50px;
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  font-weight: 600;
}

#col32-img-cont #col32-bg-cont {
  position: absolute;
  height: 100%;
  width: 80%;
  background: url(./img/fondo.png) no-repeat;
  z-index: -1;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}

#col32-img-cont #col32-bg-cont pre{
  font-size: 1.2rem;
  color: #212121 !important;
}

#col32-img-cont #col32-bg-cont *{
  margin: 20px 0;
  color: #a68d49;
}
